.main-container {
    margin: 1rem;
}

.navbar-container {
    width: 100%;
}

.home-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar-bg {
    background-color: #ffecb5
}

.navbar-brand {
    color: #1976d2 !important;
    font-size: 30px !important;
}

.navbar-item {
    color: black !important;
    font-size: 20px;
    padding: 1rem !important;
}

.navbar-item.active {
    border: 1px solid brown;
    border-radius: 25px;
}

.home-choice {
    color: white !important;
    background-color: #1976d2 !important;
    padding: 20px;
    height: 180px;
    width: 100%;
}

.go-to-match-bttn {
    padding: 20px;
    height: 50px;
    width: 100%;
}

.score-container {
    margin-top: 1rem;
}

.score-choice-increment {
    font-size: 60px !important;
    padding: 20px;
    height: 350px;
    width: 100%;
    margin-top: 1rem !important;
}

.score-choice-increment.winning {
    background-color: lightgreen !important;
}

.score-choice-increment.neutral {
    background-color: pink !important;
}

.score-choice-decrement {
    font-size: 25px !important;
    padding: 15px;
    height: 40px;
    width: 40%;
    margin-top: 1rem !important;
}

.score-choice-reset {
    color: white !important;
    background-color: #1976d2 !important;
    font-size: 25px !important;
    padding: 15px;
    height: 40px;
    width: 40%;
    margin-top: 1rem !important;
}

.score-choice-record {
    color: white !important;
    background-color: #1976d2 !important;
    font-size: 25px !important;
    padding: 15px;
    height: 40px;
    width: 100%;
    margin-top: 1rem !important;
}

.center {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.player-input {
    margin: 1rem !important;
    padding: 1rem;
}

.add-player-bttn {
    padding: 1rem !important;
    margin: 1rem !important;
}

.remove-player-bttn {
    width: 10%;
    float: right;
}

.error-msg {
    color: red;
    display: block;
}

.playerlist-container {
    margin: 2rem;
}

.leaderboard-container {
    margin: 1rem;
}

.leaderboard-header {
    font-size: 30px;
}

.trophy {
    margin-right: 1rem;
}

.trophy-first {
    color: gold;
}

.trophy-second {
    color: silver;
}

.trophy-third {
    color: orange;
}

.leaderboard-expand-item {
    float: left;
    display: block;
    position: relative;
    clear: both;
}

.bold {
    font-weight: 700;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: black;
}